@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  overflow: hidden;
}

header {
  font-family: 'Roboto', sans-serif;
  flex: 0 0 80px;
  background-color: #0d6efd;
  color: white;  
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

footer {
  flex: 0 0 30px;
  background-color: #0d6efd;
  color: white;
}


menu {
  flex: 1;
  display: flex;
  flex-direction: row !important;
  list-style: none;
  justify-content: center;
}

title {
  justify-content: center;
}

.navbar {
  flex-direction: column !important;
  align-items: center;
}

.navbar-brand {
  border-bottom: solid rgb(182, 182, 182) thin;
  justify-content: center;
}

menu .nav-item {
  padding: 0 0.3em;
  
}

footer a {
  float: right;
}

a:hover {
  opacity: 0.8;
}

#logo {
  margin-top: 20px;
}

.friends {
  list-style: none;
  padding: 0;
  margin: 20px auto;
  max-width: 400px;
}

.friends .player-name {
  background: rgba(255, 255, 255, 0.1);
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 8px;
  text-align: left;
}

.friends .player-name:hover {
  background: rgba(255, 255, 255, 0.15);
}

.deck {
  list-style: none;
  padding: 0;
  margin: 20px auto;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.1);
  padding: 3px 40px;
  margin: 8px 0;
  border-radius: 8px;
  text-align: left;
  color: inherit; 
  text-decoration: none;
}



@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}
